<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	    crossorigin="anonymous">
</head>
<style>
 {
  border-style: dotted;
  border-color: #fc032c;
}
div {
  border-style: solid;
  border-color: #fc032c;
}
</div
</style>


	<div class="container">
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			<ul class=flashes>
			{% for message in messages %}
				<li>{{ message }}</li>
			{% endfor %}
			</ul>
		{% endif %}
	{% endwith %}       
    <table class="table table-bordered">
    <thead>
    <tr>
        <th>name</th>
        <th>age</th>
        <th>address</th>
        <td><a href="/add/form" class="btn btn-primary">add new</a></td>

        
        
        
   </tr>
</thead>
    
</div>
    <tbody>
	{% for employee in employee_html %}
	<tr>
    	<td>{{employee.name}}</td>
    	<td>{{employee.age}}</td>
    	<td>{{employee.address}}</td>
    	<td><a href="/get/{{employee.id}}">show</a> <a href="/update/{{employee.id}}">edit</a></td>
    		
    	<td><form method="POST" action="/delete" style="display: inline">
              <input type="hidden" value="{{employee.id}}" name="id">
              <input type="submit" value="Delete" onclick="alert('are u sure to delete!')">

            </form>
        </td>


    </tr>
	{% endfor %}

	    
	
</tbody>
</table>
</html>
	
	